#%RAML 1.0
---

title: Individuals Income
version: P2.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/

documentation:
 - title: Overview
   content: !include docs/overview.md
 - title: Versioning
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
 - title: Errors
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/errors.md
 - title: Testing
   content: !include docs/testing.md

mediaType: [ application/json, application/hal+json ]

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  headers: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/headers.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml

/individuals/income:
  /:
    get:
      displayName: Get a list of available endpoints
      description: Use this endpoint to get a list of available endpoints for Individuals Income.
      is: [headers.acceptHeader]
      (annotations.sandboxData): !include sandbox/root.md
      (annotations.scope): "The scopes you have been assigned"
      headers:
        Authorization:
          description: An OAuth 2.0 Bearer Token with the scopes you have been assigned.
          type: string
          required: true
          example: Bearer <BEARER_TOKEN>
      queryParameters:
        matchId:
          description: A short-lived UUID, typically valid for several hours. Generated through the Individuals Matching API.
          type: string
          example: 57072660-1df9-4aeb-b4ea-cd2d7f96e430
      responses:
        200:
          description: The resources available to view an individual's income
          body:
            application/json:
              example: !include examples/root.json
              type: !include schemas/root.json
        400:
          body:
            application/json:
              type: types.errorResponse
              examples:
                BadRequest:
                  description: Invalid request
                  value:
                    code: INVALID_REQUEST
        404:
          body:
            application/json:
              type: types.errorResponse
              examples:
                NotFound:
                  description: Not found
                  value:
                    code: NOT_FOUND
  /sa:
    get:
      displayName: Get Self Assessment history
      description: !include docs/income-sa-endpoint-description.md
      is: [headers.acceptHeader]
      (annotations.sandboxData): !include sandbox/income-sa-request.md
      (annotations.scope): "The scopes you have been assigned"
      headers:
        Authorization:
          description: An OAuth 2.0 Bearer Token with the scopes you have been assigned.
          type: string
          required: true
          example: Bearer <BEARER_TOKEN>
      queryParameters:
        matchId:
          description: A short-lived UUID, typically valid for several hours. Generated through the Individuals Matching API.
          type: string
          example: 57072660-1df9-4aeb-b4ea-cd2d7f96e430
        fromYear:
          description: The first tax year to be included in the dataset requested.
          type: string
          required: true
          example: 2018-19
        toYear:
          description: The last tax year to be included in the dataset requested. If missing, it defaults to the current tax year.
          type: string
          required: false
          example: 2019-20
      responses:
        200:
          description: The individual SA income for the given period
          body:
            application/json:
              example: !include examples/income-sa-response.json
              type: !include schemas/income-sa-response.json
        400:
          body:
            application/json:
              type: types.errorResponse
              examples:
                BadRequest:
                  description: Invalid request
                  value:
                    code: INVALID_REQUEST
        404:
          body:
            application/json:
              type: types.errorResponse
              examples:
                NotFound:
                  description: Not found
                  value:
                    code: NOT_FOUND
  /sa/additional-information:
      get:
        displayName: Get additional information from Self Assessment
        description: !include docs/income-sa-additional-information-endpoint-description.md
        is: [headers.acceptHeader]
        (annotations.sandboxData): !include sandbox/income-sa-additional-information-request.md
        (annotations.scope): "The scopes you have been assigned"
        headers:
          Authorization:
            description: An OAuth 2.0 Bearer Token with the scopes you have been assigned.
            type: string
            required: true
            example: Bearer <BEARER_TOKEN>
        queryParameters:
          matchId:
            description: A short-lived UUID, typically valid for several hours. Generated through the Individuals Matching API.
            type: string
            example: 57072660-1df9-4aeb-b4ea-cd2d7f96e430
          startYear:
            description: The first tax year to be included in the dataset requested.
            type: string
            required: true
            example: 2018-19
          toTaxYear:
            description: The last tax year to be included in the dataset requested. If missing, it defaults to the current tax year.
            type: string
            required: false
            example: 2019-20
        responses:
          200:
            description: The individual’s Self Assessment additional information (SA101) for a requested time period.
            body:
              application/json:
                example: !include examples/income-sa-additional-information-response.json
                type: !include schemas/income-sa-additional-information-response.json
          400:
            body:
              application/json:
                type: types.errorResponse
                examples:
                  BadRequest:
                    description: Invalid request
                    value:
                      code: INVALID_REQUEST
          404:
            body:
              application/json:
                type: types.errorResponse
                examples:
                  NotFound:
                    description: Not found
                    value:
                      code: NOT_FOUND
  /sa/employments:
      get:
        displayName: Get employments income data from Self Assessment
        description: !include docs/income-sa-employments-endpoint-description.md
        is: [headers.acceptHeader]
        (annotations.sandboxData): !include sandbox/income-sa-request-employments.md
        (annotations.scope): "The scopes you have been assigned"
        headers:
          Authorization:
            description: An OAuth 2.0 Bearer Token with the scopes you have been assigned.
            type: string
            required: true
            example: Bearer <BEARER_TOKEN>
        queryParameters:
          matchId:
            description: A short-lived UUID, typically valid for several hours. Generated through the Individuals Matching API.
            type: string
            example: 57072660-1df9-4aeb-b4ea-cd2d7f96e430
          startYear:
            description: The first tax year to be included in the dataset requested.
            type: string
            required: true
            example: 2018-19
          endYear:
            description: The last tax year to be included in the dataset requested. If missing, it defaults to the current tax year.
            type: string
            required: false
            example: 2019-20
        responses:
          200:
            description: The individual SA employments income for the given period
            body:
              application/json:
                example: !include examples/income-sa-employments-response.json
                type: !include schemas/income-sa-employments-response.json
          400:
            body:
              application/json:
                type: types.errorResponse
                examples:
                  BadRequest:
                    description: Invalid request
                    value:
                      code: INVALID_REQUEST
          404:
            body:
              application/json:
                type: types.errorResponse
                examples:
                  NotFound:
                    description: Not found
                    value:
                      code: NOT_FOUND
  /sa/foreign:
      get:
        displayName: Get foreign income data from Self Assessment
        description: !include docs/income-sa-foreign-endpoint-description.md
        is: [headers.acceptHeader]
        (annotations.sandboxData): !include sandbox/income-sa-request-foreign.md
        (annotations.scope): "The scopes you have been assigned"
        headers:
          Authorization:
            description: An OAuth 2.0 Bearer Token with the scopes you have been assigned.
            type: string
            required: true
            example: Bearer <BEARER_TOKEN>
        queryParameters:
          matchId:
            description: A short-lived UUID, typically valid for several hours. Generated through the Individuals Matching API.
            type: string
            example: 57072660-1df9-4aeb-b4ea-cd2d7f96e430
          startYear:
            description: The first tax year to be included in the dataset requested.
            type: string
            required: true
            example: 2018-19
          endYear:
            description: The last tax year to be included in the dataset requested. If missing, it defaults to the current tax year.
            type: string
            required: false
            example: 2019-20
        responses:
          200:
            description: An individual’s Self Assessment foreign income data for a requested time period.
            body:
              application/json:
                example: !include examples/income-sa-foreign-response.json
                type: !include schemas/income-sa-foreign-response.json
          400:
            body:
              application/json:
                type: types.errorResponse
                examples:
                  BadRequest:
                    description: Invalid request
                    value:
                      code: INVALID_REQUEST
          404:
            body:
              application/json:
                type: types.errorResponse
                examples:
                  NotFound:
                    description: Not found
                    value:
                      code: NOT_FOUND
  /sa/interests-and-dividends:
      get:
        displayName: Get interest and dividends income data Self Assessment
        description: !include docs/income-sa-interests-and-dividends-endpoint-description.md
        is: [headers.acceptHeader]
        (annotations.sandboxData): !include sandbox/income-sa-request-dividends.md
        (annotations.scope): "The scopes you have been assigned"
        headers:
          Authorization:
            description: An OAuth 2.0 Bearer Token with the scopes you have been assigned.
            type: string
            required: true
            example: Bearer <BEARER_TOKEN>
        queryParameters:
          matchId:
            description: A short-lived UUID, typically valid for several hours. Generated through the Individuals Matching API.
            type: string
            example: 57072660-1df9-4aeb-b4ea-cd2d7f96e430
          startYear:
            description: The first tax year to be included in the dataset requested.
            type: string
            required: true
            example: 2018-19
          endYear:
            description: The last tax year to be included in the dataset requested. If missing, it defaults to the current tax year.
            type: string
            required: false
            example: 2019-20
        responses:
          200:
            description: The individual`s interest and dividends income data Self Assessment
            body:
              application/json:
                example: !include examples/income-sa-interests-and-dividends-response.json
                type: !include schemas/income-sa-interests-and-dividends-response.json
          400:
            body:
              application/json:
                type: types.errorResponse
                examples:
                  BadRequest:
                    description: Invalid request
                    value:
                      code: INVALID_REQUEST
          404:
            body:
              application/json:
                type: types.errorResponse
                examples:
                  NotFound:
                    description: Not found
                    value:
                      code: NOT_FOUND