#%RAML 1.0
---

title: Individuals Income
version: P1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/

documentation:
 - title: Overview
   content: !include docs/overview.md
 - title: Versioning
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
 - title: Errors
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/errors.md
 - title: Testing
   content: !include docs/testing.md

mediaType: [ application/json, application/hal+json ]

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  headers: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/headers.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml

/individuals/income:
  /:
    get:
      displayName: Entry point
      description: This is the entry point to the API and returns one or more links.
      is: [headers.acceptHeader]
      (annotations.sandboxData): !include sandbox/match.md
      (annotations.scope): "read:individuals-income"
      securedBy: [ sec.oauth_2_0: { scopes: [ "read:individuals-income" ] } ]
      headers:
        Authorization:
          description: OAuth 2.0 Bearer Token with the read:individuals-income scope.
          type: string
          required: true
          example: Bearer <BEARER_TOKEN>
      queryParameters:
        matchId:
          description: A short-lived UUID, typically valid for several hours
          type: string
          example: 57072660-1df9-4aeb-b4ea-cd2d7f96e430
      responses:
        200:
          description: The resources available for a matched individual
          body:
            application/json:
              example: !include examples/match.json
              type: !include schemas/match.json

  /paye:
    get:
      displayName: Retrieve Income history
      description: !include docs/income-endpoint-description.md
      is: [headers.acceptHeader]
      (annotations.sandboxData): !include sandbox/income-request.md
      (annotations.scope): "read:individuals-income-paye"
      securedBy: [ sec.oauth_2_0: { scopes: [ "read:individuals-income-paye" ] } ]
      headers:
        Authorization:
          description: OAuth 2.0 Bearer Token with the read:individuals-income-paye scope.
          type: string
          required: true
          example: Bearer <BEARER_TOKEN>
      queryParameters:
        matchId:
          description: A short-lived UUID, typically valid for several hours
          type: string
          example: 57072660-1df9-4aeb-b4ea-cd2d7f96e430
        fromDate:
          description: The date from when data are requested
          type: string
          required: true
          example: 2016-01-01
        toDate:
          description: The date until when data are requested
          type: string
          required: false
          example: 2017-03-01
      responses:
        200:
          description: The individual PAYE income for the given period
          body:
            application/json:
              example: !include examples/income-response.json
              type: !include schemas/income-response.json
        400:
          body:
            application/json:
              type: types.errorResponse
              examples:
                BadRequest:
                  description: Invalid request
                  value:
                    code: INVALID_REQUEST
        404:
          body:
            application/json:
              type: types.errorResponse
              examples:
                NotFound:
                  description: Not found
                  value:
                    code: NOT_FOUND
