#%RAML 1.0
---

title: Individuals Income
version: P1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/

documentation:
 - title: Overview
   content: !include docs/overview.md
 - title: Versioning
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
 - title: Errors
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/errors.md
 - title: Testing
   content: !include docs/testing.md

mediaType: [ application/json, application/hal+json ]

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  headers: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/headers.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml

/individuals/income:
  /:
    get:
      displayName: Entry point
      description: This is the entry point to the API and returns one or more links.
      is: [headers.acceptHeader]
      (annotations.sandboxData): !include sandbox/root.md
      (annotations.scope): "read:individuals-income"
      securedBy: [ sec.oauth_2_0: { scopes: [ "read:individuals-income" ] } ]
      headers:
        Authorization:
          description: OAuth 2.0 Bearer Token with the read:individuals-income scope.
          type: string
          required: true
          example: Bearer <BEARER_TOKEN>
      queryParameters:
        matchId:
          description: A short-lived UUID, typically valid for several hours. Generated through the Individuals Matching API.
          type: string
          example: 57072660-1df9-4aeb-b4ea-cd2d7f96e430
      responses:
        200:
          description: The resources available for a matched individual
          body:
            application/json:
              example: !include examples/root.json
              type: !include schemas/root.json
        400:
          body:
            application/json:
              type: types.errorResponse
              examples:
                BadRequest:
                  description: Invalid request
                  value:
                    code: INVALID_REQUEST
        404:
          body:
            application/json:
              type: types.errorResponse
              examples:
                NotFound:
                  description: Not found
                  value:
                    code: NOT_FOUND
  /paye:
    get:
      displayName: Retrieve PAYE income history
      description: !include docs/income-endpoint-description.md
      is: [headers.acceptHeader]
      (annotations.sandboxData): !include sandbox/income-request.md
      (annotations.scope): "read:individuals-income-paye"
      securedBy: [ sec.oauth_2_0: { scopes: [ "read:individuals-income-paye" ] } ]
      headers:
        Authorization:
          description: OAuth 2.0 Bearer Token with the read:individuals-income-paye scope.
          type: string
          required: true
          example: Bearer <BEARER_TOKEN>
      queryParameters:
        matchId:
          description: A short-lived UUID, typically valid for several hours. Generated through the Individuals Matching API.
          type: string
          example: 57072660-1df9-4aeb-b4ea-cd2d7f96e430
        fromDate:
          description: The date from when data are requested
          type: string
          required: true
          example: 2016-01-01
        toDate:
          description: The date until when data are requested
          type: string
          required: false
          example: 2017-03-01
      responses:
        200:
          description: The individual PAYE income for the given period
          body:
            application/json:
              example: !include examples/income-response.json
              type: !include schemas/income-response.json
        400:
          body:
            application/json:
              type: types.errorResponse
              examples:
                BadRequest:
                  description: Invalid request
                  value:
                    code: INVALID_REQUEST
        404:
          body:
            application/json:
              type: types.errorResponse
              examples:
                NotFound:
                  description: Not found
                  value:
                    code: NOT_FOUND
  /sa:
    get:
      displayName: Retrieve self-assessment tax returns history
      description: !include docs/income-sa-endpoint-description.md
      is: [headers.acceptHeader]
      (annotations.sandboxData): !include sandbox/income-sa-request.md
      (annotations.scope): "read:individuals-income-sa"
      securedBy: [ sec.oauth_2_0: { scopes: [ "read:individuals-income-sa" ] } ]
      headers:
        Authorization:
          description: OAuth 2.0 Bearer Token with the read:individuals-income-sa scope.
          type: string
          required: true
          example: Bearer <BEARER_TOKEN>
      queryParameters:
        matchId:
          description: A short-lived UUID, typically valid for several hours. Generated through the Individuals Matching API.
          type: string
          example: 57072660-1df9-4aeb-b4ea-cd2d7f96e430
        fromTaxYear:
          description: The tax year from when data are requested
          type: string
          required: true
          example: 2013-14
        toTaxYear:
          description: The tax year until when data are requested
          type: string
          required: false
          example: 2015-16
      responses:
        200:
          description: The individual SA income for the given period
          body:
            application/json:
              example: !include examples/income-sa-response.json
              type: !include schemas/income-sa-response.json
        400:
          body:
            application/json:
              type: types.errorResponse
              examples:
                BadRequest:
                  description: Invalid request
                  value:
                    code: INVALID_REQUEST
        404:
          body:
            application/json:
              type: types.errorResponse
              examples:
                NotFound:
                  description: Not found
                  value:
                    code: NOT_FOUND
  /sa/employments:
    get:
      displayName: Retrieve employments income from self-assessment
      description: !include docs/income-sa-employments-endpoint-description.md
      is: [headers.acceptHeader]
      (annotations.sandboxData): !include sandbox/income-sa-employments-request.md
      (annotations.scope): "read:individuals-income-sa-employments"
      securedBy: [ sec.oauth_2_0: { scopes: [ "read:individuals-income-sa-employments" ] } ]
      headers:
        Authorization:
          description: OAuth 2.0 Bearer Token with the read:individuals-income-sa-employments scope.
          type: string
          required: true
          example: Bearer <BEARER_TOKEN>
      queryParameters:
        matchId:
          description: A short-lived UUID, typically valid for several hours. Generated through the Individuals Matching API.
          type: string
          example: 57072660-1df9-4aeb-b4ea-cd2d7f96e430
        fromTaxYear:
          description: The tax year from when data are requested
          type: string
          required: true
          example: 2013-14
        toTaxYear:
          description: The tax year until when data are requested
          type: string
          required: false
          example: 2015-16
      responses:
        200:
          description: The individual SA employments income for the given period
          body:
            application/json:
              example: !include examples/income-sa-employments-response.json
              type: !include schemas/income-sa-employments-response.json
        400:
          body:
            application/json:
              type: types.errorResponse
              examples:
                BadRequest:
                  description: Invalid request
                  value:
                    code: INVALID_REQUEST
        404:
          body:
            application/json:
              type: types.errorResponse
              examples:
                NotFound:
                  description: Not found
                  value:
                    code: NOT_FOUND
  /sa/self-employments:
    get:
      displayName: Retrieve self-employments income from self-assessment
      description: !include docs/income-sa-self-employments-endpoint-description.md
      is: [headers.acceptHeader]
      (annotations.sandboxData): !include sandbox/income-sa-self-employments-request.md
      (annotations.scope): "read:individuals-income-sa-self-employments"
      securedBy: [ sec.oauth_2_0: { scopes: [ "read:individuals-income-sa-self-employments" ] } ]
      headers:
        Authorization:
          description: OAuth 2.0 Bearer Token with the read:individuals-income-sa-self-employments scope.
          type: string
          required: true
          example: Bearer <BEARER_TOKEN>
      queryParameters:
        matchId:
          description: A short-lived UUID, typically valid for several hours. Generated through the Individuals Matching API.
          type: string
          example: 57072660-1df9-4aeb-b4ea-cd2d7f96e430
        fromTaxYear:
          description: The tax year from when data are requested
          type: string
          required: true
          example: 2013-14
        toTaxYear:
          description: The tax year until when data are requested
          type: string
          required: false
          example: 2015-16
      responses:
        200:
          description: The individual SA self employments income for the given period
          body:
            application/json:
              example: !include examples/income-sa-self-employments-response.json
              type: !include schemas/income-sa-self-employments-response.json
        400:
          body:
            application/json:
              type: types.errorResponse
              examples:
                BadRequest:
                  description: Invalid request
                  value:
                    code: INVALID_REQUEST
        404:
          body:
            application/json:
              type: types.errorResponse
              examples:
                NotFound:
                  description: Not found
                  value:
                    code: NOT_FOUND
  /sa/summary:
    get:
      displayName: Retrieve self-assessment tax returns summary
      description: !include docs/income-sa-summary-endpoint-description.md
      is: [headers.acceptHeader]
      (annotations.sandboxData): !include sandbox/income-sa-summary-request.md
      (annotations.scope): "read:individuals-income-sa-summary"
      securedBy: [ sec.oauth_2_0: { scopes: [ "read:individuals-income-sa-summary" ] } ]
      headers:
        Authorization:
          description: OAuth 2.0 Bearer Token with the read:individuals-income-sa-summary scope.
          type: string
          required: true
          example: Bearer <BEARER_TOKEN>
      queryParameters:
        matchId:
          description: A short-lived UUID, typically valid for several hours. Generated through the Individuals Matching API.
          type: string
          example: 57072660-1df9-4aeb-b4ea-cd2d7f96e430
        fromTaxYear:
          description: The tax year from when data are requested
          type: string
          required: true
          example: 2013-14
        toTaxYear:
          description: The tax year until when data are requested
          type: string
          required: false
          example: 2015-16
      responses:
        200:
          description: The individual SA summary for the given period
          body:
            application/json:
              example: !include examples/income-sa-summary-response.json
              type: !include schemas/income-sa-summary-response.json
        400:
          body:
            application/json:
              type: types.errorResponse
              examples:
                BadRequest:
                  description: Invalid request
                  value:
                    code: INVALID_REQUEST
        404:
          body:
            application/json:
              type: types.errorResponse
              examples:
                NotFound:
                  description: Not found
                  value:
                    code: NOT_FOUND
