#%RAML 1.0
---

title: Individuals Income
version: 1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/

documentation:
 - title: Overview
   content: !include docs/overview.md
 - title: Versioning
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
 - title: Errors
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/errors.md
 - title: Testing
   content: !include docs/testing.md

mediaType: [ application/json, application/hal+json ]

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  headers: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/headers.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml

/individuals/income:
  /match/{matchId}:
    uriParameters:
      matchId:
        description: A short-lived UUID, typically valid for several hours
        type: string
        example: 57072660-1df9-4aeb-b4ea-cd2d7f96e430

    get:
      displayName: Entry point
      description: This is the entry point to the API and returns one or more links.
      is: [headers.acceptHeader]
      (annotations.sandboxData): !include sandbox/match.md
      (annotations.scope): "read:individuals-income"
      securedBy: [ sec.oauth_2_0: { scopes: [ "read:individuals-income" ] } ]
      responses:
        200:
          description: The resources available for a matched individual
          body:
            application/json:
              example: !include examples/match.json
              type: !include schemas/match.json

/hello-world:
   get:
     displayName: Hello world
     description: The hello world enpoint
     responses:
       200:
         body:
           text/plain:
             example: Hello world